<div class="message">
  <h2><%= @question %></h2>
  <p>- you</p>
</div>


<div class="message">
  <h2><%= @coach_phrase %></h2>
  <p>- your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
